* {
    font-family: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
    font-size: 14pt;
}

a {
    color: darkgrey;
}

.nav-menu-item {
    display: inline-block;
    text-align: center;
    width: 100px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20pt;
}

#main-header {
    width: 100%;
    border-bottom: 3px solid darkgrey;
    background-color: yellow;
}

#title-container {
    width: 960px;
    overflow: auto;
    margin: 0 auto;
    background-color: orange;
}

#my-name {
    background-color: teal;
    color: white;
    width: 250px;
    text-align: center;
    float: left;
}

#nav {
    float: right;
    background-color: blue;
}

#main-content {
    background-color: yellow;
    background-image: url(../images/circuit.png) /* url is relative to location of the stylesheet! */
}
#content-container {
    clear: both;
    width: 960px;
    background-color: orange;
    margin: 0 auto;
}

#my-photo {
    float: left;
}

.main-h1 {
    color: teal;
}

.main-footer {
    position: fixed;
    bottom: 0;
}
